nav {
  display: flex;
  padding: 20px max(2rem, 50vw - 1156px /2);
  background-color: rgb(0, 26, 128);
  grid-area: 1 / 1 / 2 / 3;
  gap: max(20px, 600px);
}

nav a {
  color: aliceblue;
}

.logoutButton {
  height: 30px;
  padding: 0 10px 0 10px;
  border: 0;
}

.links {
  display: flex;
  gap: 20px;
}
